In [10]:
print('Hello', end=' ')
print('World')

Hello World

In [2]:
my_family_names=[]

name=input('Enter Names with space delimiter (or type "exit" to finish): ')
names=name.split(' ')
print('You entered: ', names)
for name in names:
    if name.lower() == 'exit':
        break
    my_family_names.append(name)

print('Your family names are: ', my_family_names)

You entered:  ['ranjith', 'rachana']
Your family names are:  ['ranjith', 'rachana']

In [17]:
import random

mylist=['ranjith', 'karthik', 'siva', 'sai']
for index, value in enumerate(mylist):
    print(f'Index :  {index} ,  Value: {value}')
print(random.choice(mylist))
print(random.choice(mylist))
print(random.choice(mylist))
print(random.choice(mylist))
print(random.choice(mylist))
print(random.choice(mylist))

Index :  0 ,  Value: ranjith
Index :  1 ,  Value: karthik
Index :  2 ,  Value: siva
Index :  3 ,  Value: sai
karthik
siva
sai
sai
siva
sai

In [19]:
name = 'Zophie a cat'
print(f'{name[0: 6]} and it is : {name[9:12]}')

Zophie and it is : cat

In [ ]:
import pandas as pd

df=pd.read_csv('../employees.csv', sep='|', na_values=['NA', 'N/A', 'None', ''])
#df.dropna()
df1=df.dropna(axis=0, how='any')
print(df.info())
print(df.describe())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          4 non-null      int64
 1   NAME        3 non-null      object
 2   DEPARTMENT  3 non-null      object
 3   SALARY      3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 260.0+ bytes
None
             ID   SALARY
count  4.000000      3.0
mean   2.500000  68000.0
std    1.290994      0.0
min    1.000000  68000.0
25%    1.750000  68000.0
50%    2.500000  68000.0
75%    3.250000  68000.0
max    4.000000  68000.0
(4, 4)

In [48]:
import pandas as pd

df=pd.read_csv('../employees.csv', sep='|', na_values=['NA', 'N/A', 'None', ''])
print(df)
salaries=df['SALARY']
print(type(salaries.value_counts()))

    ID        NAME   DEPARTMENT   SALARY
0  1.0  John Smith  Engineering  68000.0
1  2.0    Sara Lee    Marketing  68000.0
2  3.0  David Chen        Sales  68000.0
3  NaN         NaN          NaN      NaN
<class 'pandas.core.series.Series'>

In [71]:
import pandas as pd

df=pd.read_csv('../titanic.csv', sep=',', na_values=['NA', 'N/A', 'None', ''])

#print(df.head())
#print(df.describe())

#adults=df[df['Age']> 50]
#print(adults.head())
#print((adults.describe()))
#male=df[ (df['Sex']=='male') | (df['Pclass']==1) ]
#print(male.head())
#print(male.count())
#print(type(adults.describe().count))

startsWithS=df[df['Name'].str.startswith('S')]

print(startsWithS.head())
print(startsWithS.count())

    PassengerId  Survived  Pclass  \
10           11         1       3
12           13         0       3
23           24         1       1
31           32         1       1
48           49         0       3

                                              Name     Sex   Age  SibSp  \
10                 Sandstrom, Miss. Marguerite Rut  female   4.0      1
12                  Saundercock, Mr. William Henry    male  20.0      0
23                    Sloper, Mr. William Thompson    male  28.0      0
31  Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
48                             Samaan, Mr. Youssef    male   NaN      2

    Parch     Ticket      Fare Cabin Embarked
10      1    PP 9549   16.7000    G6        S
12      0  A/5. 2151    8.0500   NaN        S
23      0     113788   35.5000    A6        S
31      0   PC 17569  146.5208   B78        C
48      0       2662   21.6792   NaN        C
PassengerId    86
Survived       86
Pclass         86
Name           86
Sex            86
Age            61
SibSp          86
Parch          86
Ticket         86
Fare           86
Cabin          23
Embarked       85
dtype: int64

In [79]:
import pandas as pd

df=pd.read_csv('../titanic.csv', sep=',', na_values=['NA', 'N/A', 'None', ''])

sorted_df=df.sort_values(by=['Age'], ascending=[False])
print(sorted_df)

     PassengerId  Survived  Pclass                                      Name  \
630          631         1       1      Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                       Svensson, Mr. Johan
493          494         0       1                   Artagaveytia, Mr. Ramon
96            97         0       1                 Goldschmidt, Mr. George B
116          117         0       3                      Connors, Mr. Patrick
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630    male  80.0      0      0       27042  30.0000   A23        S
851    male  74.0      0      0      347060   7.7750   NaN        S
493    male  71.0      0      0    PC 17609  49.5042   NaN        C
96     male  71.0      0      0    PC 17754  34.6542    A5        C
116    male  70.5      0      0      370369   7.7500   NaN        Q
..      ...   ...    ...    ...         ...      ...   ...      ...
859    male   NaN      0      0        2629   7.2292   NaN        C
863  female   NaN      8      2    CA. 2343  69.5500   NaN        S
868    male   NaN      0      0      345777   9.5000   NaN        S
878    male   NaN      0      0      349217   7.8958   NaN        S
888  female   NaN      1      2  W./C. 6607  23.4500   NaN        S

[891 rows x 12 columns]

In [86]:
import pandas as pd

df=pd.read_csv('../titanic.csv', sep=',', na_values=['NA', 'N/A', 'None', ''])
df=df.set_index('Age')

sorted_df=df.sort_index(ascending=False)
print(sorted_df)

      PassengerId  Survived  Pclass                                      Name  \
Age
80.0          631         1       1      Barkworth, Mr. Algernon Henry Wilson
74.0          852         0       3                       Svensson, Mr. Johan
71.0          494         0       1                   Artagaveytia, Mr. Ramon
71.0           97         0       1                 Goldschmidt, Mr. George B
70.5          117         0       3                      Connors, Mr. Patrick
...           ...       ...     ...                                       ...
NaN           860         0       3                          Razi, Mr. Raihed
NaN           864         0       3         Sage, Miss. Dorothy Edith "Dolly"
NaN           869         0       3               van Melkebeke, Mr. Philemon
NaN           879         0       3                        Laleff, Mr. Kristo
NaN           889         0       3  Johnston, Miss. Catherine Helen "Carrie"

         Sex  SibSp  Parch      Ticket     Fare Cabin Embarked
Age
80.0    male      0      0       27042  30.0000   A23        S
74.0    male      0      0      347060   7.7750   NaN        S
71.0    male      0      0    PC 17609  49.5042   NaN        C
71.0    male      0      0    PC 17754  34.6542    A5        C
70.5    male      0      0      370369   7.7500   NaN        Q
...      ...    ...    ...         ...      ...   ...      ...
NaN     male      0      0        2629   7.2292   NaN        C
NaN   female      8      2    CA. 2343  69.5500   NaN        S
NaN     male      0      0      345777   9.5000   NaN        S
NaN     male      0      0      349217   7.8958   NaN        S
NaN   female      1      2  W./C. 6607  23.4500   NaN        S

[891 rows x 11 columns]

In [132]:
import pandas as pd

df=pd.read_csv('../titanic.csv', sep=',', na_values=['NA', 'N/A', 'None', ''])
#print(df.isnull().sum())
#
print(df.info())
#print(mean)
#greater_than10=df[df['']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [112]:
import pandas as pd

import numpy as np

from datetime import datetime, timedelta

np.random.seed(42)

n_recors=1000

dates=pd.date_range('2023-01-01', '2026-01-01', freq='D')
#print(dates)
products = ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Monitor', 'Keyboard', 'Mouse', 'Speaker']
categories = ['Electronics', 'Electronics', 'Electronics', 'Audio', 'Electronics', 'Accessories', 'Accessories', 'Audio']
regions = ['North', 'South', 'East', 'West', 'Central']
customers = ['Premium', 'Standard', 'Basic']




data={
    'Order_id':[f'Ord_{i:05d}' for i in range(1, n_recors+1)],
    'Date': np.random.choice(dates, n_recors),
    'Product': np.random.choice(products, n_recors),
    'Category': np.random.choice(categories, n_recors),
    'Region': np.random.choice(regions, n_recors),
    'Customer_Type': np.random.choice(customers, n_recors),
    'Quantity': np.random.randint(1, 10, n_recors),
    'unit_price': np.random.randint(50, 2000, n_recors),
    'Sales_rep':[f'Rep_{np.random.randint(1, 21):02d}' for _ in range(n_recors)],
    'Discount': np.random.choice([0, 5,10,15,20], n_recors, p=[0.4, 0.2, 0.2, 0.1, 0.1]),

}


df=pd.DataFrame(data)
#print(df.describe())

df['total_sales']=df['Quantity'] * df['unit_price'] - (1-df['Discount']/100)
#print(df['total_sales'])

df['month']=df['Date'].dt.month

df['year']=df['Date'].dt.year

#print(df.head())

ordermoreThan5000 = df[df['total_sales'] > 5000]

#print(len(ordermoreThan5000))
print("Task: Find Premium customers in North region with Quantity > 5")

excerise2=df[ (df['Customer_Type']=='Premium') & (df['Region']=='North') & (df['Quantity'] > 5)]
print(excerise2)

df=df.sort_values(by=['total_sales'], ascending=True)

Task: Find Premium customers in North region with Quantity > 5
      Order_id       Date     Product     Category Region Customer_Type  \
13   Ord_00014 2025-08-13    Keyboard  Accessories  North       Premium
64   Ord_00065 2023-12-04    Keyboard  Electronics  North       Premium
98   Ord_00099 2024-11-14       Mouse        Audio  North       Premium
116  Ord_00117 2025-10-17     Monitor  Accessories  North       Premium
181  Ord_00182 2023-05-31       Mouse        Audio  North       Premium
241  Ord_00242 2023-01-17     Speaker        Audio  North       Premium
252  Ord_00253 2024-08-29     Monitor        Audio  North       Premium
307  Ord_00308 2023-01-05      Tablet  Accessories  North       Premium
332  Ord_00333 2024-07-13     Monitor  Electronics  North       Premium
356  Ord_00357 2023-12-23      Laptop  Electronics  North       Premium
363  Ord_00364 2025-10-12      Tablet        Audio  North       Premium
424  Ord_00425 2024-03-30      Tablet  Electronics  North       Premium
436  Ord_00437 2025-11-28      Tablet  Electronics  North       Premium
452  Ord_00453 2025-08-03  Headphones  Electronics  North       Premium
506  Ord_00507 2024-11-06      Laptop  Electronics  North       Premium
524  Ord_00525 2023-09-13       Mouse        Audio  North       Premium
534  Ord_00535 2025-12-24       Phone  Accessories  North       Premium
539  Ord_00540 2023-03-04       Phone  Electronics  North       Premium
544  Ord_00545 2024-05-25     Monitor  Electronics  North       Premium
545  Ord_00546 2024-01-20      Laptop  Electronics  North       Premium
546  Ord_00547 2024-02-09       Mouse  Electronics  North       Premium
571  Ord_00572 2024-03-13     Monitor        Audio  North       Premium
630  Ord_00631 2025-12-10  Headphones  Electronics  North       Premium
635  Ord_00636 2025-04-17     Speaker        Audio  North       Premium
641  Ord_00642 2024-06-29     Monitor  Electronics  North       Premium
662  Ord_00663 2024-12-26     Monitor  Accessories  North       Premium
676  Ord_00677 2023-12-29      Laptop        Audio  North       Premium
715  Ord_00716 2024-06-26  Headphones  Electronics  North       Premium
728  Ord_00729 2025-08-04     Speaker  Accessories  North       Premium
750  Ord_00751 2025-06-20       Phone        Audio  North       Premium
752  Ord_00753 2023-01-10      Tablet        Audio  North       Premium
788  Ord_00789 2023-05-23     Speaker  Accessories  North       Premium
805  Ord_00806 2023-06-06      Laptop  Accessories  North       Premium
814  Ord_00815 2025-05-14  Headphones  Electronics  North       Premium
837  Ord_00838 2023-10-29       Mouse  Accessories  North       Premium
843  Ord_00844 2025-09-11     Monitor  Accessories  North       Premium
845  Ord_00846 2025-04-07      Tablet        Audio  North       Premium
866  Ord_00867 2024-10-22     Monitor  Electronics  North       Premium
887  Ord_00888 2024-12-10  Headphones  Electronics  North       Premium
916  Ord_00917 2023-01-18  Headphones  Electronics  North       Premium
940  Ord_00941 2025-01-30       Mouse  Electronics  North       Premium

     Quantity  unit_price Sales_rep  Discount  total_sales  month  year
13          8        1302    Rep_14         0     10415.00      8  2025
64          6        1158    Rep_13         0      6947.00     12  2023
98          8        1412    Rep_11         5     11295.05     11  2024
116         8         224    Rep_12         0      1791.00     10  2025
181         6         228    Rep_03        20      1367.20      5  2023
241         6         936    Rep_12         5      5615.05      1  2023
252         9         748    Rep_02         0      6731.00      8  2024
307         9        1536    Rep_20         5     13823.05      1  2023
332         9         158    Rep_20        20      1421.20      7  2024
356         6        1404    Rep_19         0      8423.00     12  2023
363         7         883    Rep_18        10      6180.10     10  2025
424         8        1083    Rep_02         5      8663.05      3  2024
436         7         240    Rep_07         0      1679.00     11  2025
452         9         837    Rep_18        20      7532.20      8  2025
506         6         784    Rep_16        20      4703.20     11  2024
524         8        1780    Rep_16         0     14239.00      9  2023
534         8        1799    Rep_14        15     14391.15     12  2025
539         8        1440    Rep_19         5     11519.05      3  2023
544         8        1434    Rep_04         0     11471.00      5  2024
545         7         373    Rep_02         0      2610.00      1  2024
546         8        1088    Rep_02         0      8703.00      2  2024
571         8         644    Rep_19        20      5151.20      3  2024
630         9        1385    Rep_02         5     12464.05     12  2025
635         8        1831    Rep_07        10     14647.10      4  2025
641         8        1804    Rep_08         0     14431.00      6  2024
662         9        1633    Rep_01         5     14696.05     12  2024
676         6        1168    Rep_15         0      7007.00     12  2023
715         7         128    Rep_12        20       895.20      6  2024
728         7          63    Rep_12        10       440.10      8  2025
750         6        1201    Rep_03        10      7205.10      6  2025
752         6         988    Rep_19         5      5927.05      1  2023
788         6         206    Rep_06        10      1235.10      5  2023
805         8        1756    Rep_03         5     14047.05      6  2023
814         6        1773    Rep_12        10     10637.10      5  2025
837         9        1152    Rep_06        10     10367.10     10  2023
843         7         811    Rep_12         0      5676.00      9  2025
845         8         875    Rep_07        15      6999.15      4  2025
866         7         523    Rep_18         0      3660.00     10  2024
887         7        1504    Rep_13        15     10527.15     12  2024
916         6         520    Rep_15         0      3119.00      1  2023
940         9        1601    Rep_04        15     14408.15      1  2025

In [ ]:
print("Task: Find all products containing 'Phone' in their name")

avg=df.groupby('Region').agg({'total_sales':['sum', 'mean','min',  'count']})
print(avg)

Task: Find all products containing 'Phone' in their name
        total_sales
                sum         mean count
Region
Central  1079233.20  5369.319403   201
East     1030983.75  5053.841912   204
North    1156562.70  5507.441429   210
South     913639.30  5438.329167   168
West     1137287.60  5240.956682   217

In [120]:
total=df.groupby(['Region', 'Customer_Type']).agg({'total_sales':['sum']})
print(total)

customer_region_sales = df.groupby(['Customer_Type', 'Region'])['total_sales'].sum()

print(customer_region_sales)

                      total_sales
                              sum
Region  Customer_Type
Central Basic           333503.15
        Premium         406056.60
        Standard        339673.45
East    Basic           362280.85
        Premium         312127.80
        Standard        356575.10
North   Basic           403539.80
        Premium         428936.10
        Standard        324086.80
South   Basic           323915.60
        Premium         287820.70
        Standard        301903.00
West    Basic           398539.60
        Premium         379800.05
        Standard        358947.95
Customer_Type  Region
Basic          Central    333503.15
               East       362280.85
               North      403539.80
               South      323915.60
               West       398539.60
Premium        Central    406056.60
               East       312127.80
               North      428936.10
               South      287820.70
               West       379800.05
Standard       Central    339673.45
               East       356575.10
               North      324086.80
               South      301903.00
               West       358947.95
Name: total_sales, dtype: float64

In [123]:
exercise12=df.groupby('Category').agg({'total_sales':['sum', 'mean', 'count'],
                            'Quantity':'sum',
                            'Order_id':'count'})
print(exercise12)

            total_sales                    Quantity Order_id
                    sum         mean count      sum    count
Category
Accessories  1349258.05  5418.707028   249     1343      249
Audio        1406070.25  5449.884690   258     1276      258
Electronics  2562378.25  5197.521805   493     2433      493

In [128]:
filtered=df[df['year'] == 2024].sort_values(by='Date', ascending=True).groupby('month')['total_sales'].sum()
#print(filtered)
print(filtered.shape)

(12,)

In [ ]:
df.groupby('Region')