In [10]:
print('Hello', end=' ')
print('World')

Hello World

In [2]:
my_family_names=[]

name=input('Enter Names with space delimiter (or type "exit" to finish): ')
names=name.split(' ')
print('You entered: ', names)
for name in names:
    if name.lower() == 'exit':
        break
    my_family_names.append(name)

print('Your family names are: ', my_family_names)

You entered:  ['ranjith', 'rachana']
Your family names are:  ['ranjith', 'rachana']

In [17]:
import random

mylist=['ranjith', 'karthik', 'siva', 'sai']
for index, value in enumerate(mylist):
    print(f'Index :  {index} ,  Value: {value}')
print(random.choice(mylist))
print(random.choice(mylist))
print(random.choice(mylist))
print(random.choice(mylist))
print(random.choice(mylist))
print(random.choice(mylist))

Index :  0 ,  Value: ranjith
Index :  1 ,  Value: karthik
Index :  2 ,  Value: siva
Index :  3 ,  Value: sai
karthik
siva
sai
sai
siva
sai

In [19]:
name = 'Zophie a cat'
print(f'{name[0: 6]} and it is : {name[9:12]}')

Zophie and it is : cat

In [ ]:
import pandas as pd

df=pd.read_csv('../employees.csv', sep='|', na_values=['NA', 'N/A', 'None', ''])
df.dropna()
print(df.info())
print(df.describe())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          3 non-null      float64
 1   NAME        3 non-null      object
 2   DEPARTMENT  3 non-null      object
 3   SALARY      3 non-null      float64
dtypes: float64(2), object(2)
memory usage: 260.0+ bytes
None
        ID        SALARY
count  3.0      3.000000
mean   2.0  74333.333333
std    1.0   6027.713773
min    1.0  68000.000000
25%    1.5  71500.000000
50%    2.0  75000.000000
75%    2.5  77500.000000
max    3.0  80000.000000
(4, 4)

In [48]:
import pandas as pd

df=pd.read_csv('../employees.csv', sep='|', na_values=['NA', 'N/A', 'None', ''])
print(df)
salaries=df['SALARY']
print(type(salaries.value_counts()))

    ID        NAME   DEPARTMENT   SALARY
0  1.0  John Smith  Engineering  68000.0
1  2.0    Sara Lee    Marketing  68000.0
2  3.0  David Chen        Sales  68000.0
3  NaN         NaN          NaN      NaN
<class 'pandas.core.series.Series'>

In [71]:
import pandas as pd

df=pd.read_csv('../titanic.csv', sep=',', na_values=['NA', 'N/A', 'None', ''])

#print(df.head())
#print(df.describe())

#adults=df[df['Age']> 50]
#print(adults.head())
#print((adults.describe()))
#male=df[ (df['Sex']=='male') | (df['Pclass']==1) ]
#print(male.head())
#print(male.count())
#print(type(adults.describe().count))

startsWithS=df[df['Name'].str.startswith('S')]

print(startsWithS.head())
print(startsWithS.count())

    PassengerId  Survived  Pclass  \
10           11         1       3
12           13         0       3
23           24         1       1
31           32         1       1
48           49         0       3

                                              Name     Sex   Age  SibSp  \
10                 Sandstrom, Miss. Marguerite Rut  female   4.0      1
12                  Saundercock, Mr. William Henry    male  20.0      0
23                    Sloper, Mr. William Thompson    male  28.0      0
31  Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
48                             Samaan, Mr. Youssef    male   NaN      2

    Parch     Ticket      Fare Cabin Embarked
10      1    PP 9549   16.7000    G6        S
12      0  A/5. 2151    8.0500   NaN        S
23      0     113788   35.5000    A6        S
31      0   PC 17569  146.5208   B78        C
48      0       2662   21.6792   NaN        C
PassengerId    86
Survived       86
Pclass         86
Name           86
Sex            86
Age            61
SibSp          86
Parch          86
Ticket         86
Fare           86
Cabin          23
Embarked       85
dtype: int64

In [79]:
import pandas as pd

df=pd.read_csv('../titanic.csv', sep=',', na_values=['NA', 'N/A', 'None', ''])

sorted_df=df.sort_values(by=['Age'], ascending=[False])
print(sorted_df)

     PassengerId  Survived  Pclass                                      Name  \
630          631         1       1      Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                       Svensson, Mr. Johan
493          494         0       1                   Artagaveytia, Mr. Ramon
96            97         0       1                 Goldschmidt, Mr. George B
116          117         0       3                      Connors, Mr. Patrick
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630    male  80.0      0      0       27042  30.0000   A23        S
851    male  74.0      0      0      347060   7.7750   NaN        S
493    male  71.0      0      0    PC 17609  49.5042   NaN        C
96     male  71.0      0      0    PC 17754  34.6542    A5        C
116    male  70.5      0      0      370369   7.7500   NaN        Q
..      ...   ...    ...    ...         ...      ...   ...      ...
859    male   NaN      0      0        2629   7.2292   NaN        C
863  female   NaN      8      2    CA. 2343  69.5500   NaN        S
868    male   NaN      0      0      345777   9.5000   NaN        S
878    male   NaN      0      0      349217   7.8958   NaN        S
888  female   NaN      1      2  W./C. 6607  23.4500   NaN        S

[891 rows x 12 columns]

In [83]:
import pandas as pd

df=pd.read_csv('../titanic.csv', sep=',', na_values=['NA', 'N/A', 'None', ''])

sorted_df=df.sort_index()